body {
  margin: 0;
  padding: 0;
  background: url('scifi.jpg') center center/cover no-repeat fixed;
  font-family: 'Courier New', Courier, monospace;
}

button {
  cursor: pointer;
}

.particles {
  top: 0;
  left: 0;
  position: fixed;
  z-index: -1;
}